<div id="turntable-container">
  <div class="retro-display">
    <div id="display-title">VÄNTAR...</div>
    <div id="display-time">00:00</div>
  </div>

  <div id="turntable">
    <div id="table-shadow"></div>
    <div id="wood"><div id="grain1"></div><div id="grain2"></div><div id="grain3"></div><div id="grain4"></div><div id="grain5"></div><div id="grain6"></div></div>
    <div id="wood2"><div id="grain7"></div><div id="grain8"></div><div id="grain9"></div><div id="grain10"></div><div id="grain11"></div></div>
    <div id="table"></div>
    
    <div id="button"></div>
    
    <div id="disk">
      <div id="label"></div>
    </div>
    
    <div id="axis"></div>
    <div id="base"></div>
    
    <div id="arm-group">
        <div id="arm"></div>
        <div id="weight"></div>
        <div id="head"></div>
    </div>
  </div>
</div>