<div class="radio-player-widget">
    <div class="radio-bg-container">
        <img src="" id="radio-bg-img" class="full-bg">
    </div>

    <div class="boombox-container">
        <img src="../images/boombox.png" class="boombox-body">
        
        <div class="cassette-slot" id="cassette-slot">
            <img src="" id="active-cassette" class="cassette-tape">
        </div>

        <div class="radio-interface">
            <h2 id="radio-title" class="radio-text">Välj ett band...</h2>
            <p id="radio-time" class="radio-text">--:--</p>
            <button id="radio-play-btn" class="play-trigger">PLAY</button>
        </div>
    </div>
</div>